.product {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;

  @media (max-width: map-get($grid-breakpoints, md)) {
    flex-direction: column;
    height: 100%;
  }
}

.product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  height: 100%;
  flex: 1;
}

.product__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
  }

  .product__action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 0;
  }
}

.product__subtitle {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $darkGray;
  text-transform: uppercase;
}

.product__title {
  font-size: $inputSize;
  font-weight: $boldWeight;
  // text-transform: uppercase;
  color: $lightBlack;
  margin: 0;
  margin-top: 10px;
}

.product__discount {
  margin-top: 5px;
  color: $background;
  background-color: $darkRed;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 600;
  border-radius: 3px;
}

.product__price--discount {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: space-between;
}

.product__price--oldprice {
  text-decoration: line-through;
  color: $darkGray;
  font-size: $spanSize;
  font-weight: $lightWeight;
}

.product__price--newprice {
  color: $darkRed;
  font-size: $textSize;
  font-weight: $lightWeight;
}

.product__wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 50px;

  & > svg {
    fill: $darkGray;
  }

  &:hover {
    & > svg {
      fill: $darkRed;
    }
  }

  &.active {
    & > svg {
      fill: $darkRed;
    }
  }
}

.product__price {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lightBlack;

  & > span {
    font-size: 15px;
    font-weight: $lightWeight;
    color: $lightBlack;
  }
}

.product__tva {
  width: 100%;
  text-align: end;
  font-size: $textSize;
  color: $lightGray;
  font-weight: $lightWeight;
  margin-top: -10px;
}

.product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 2px solid $lightBlack;
  text-transform: uppercase;
  font-size: $textSize;
  letter-spacing: 0.7px;
  font-weight: $lightWeight;
  color: $lightBlack;

  @media (hover: hover) {
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $lightBlack;
      color: $secondary;
    }
  }

  @media (hover: none) {
    &:active {
      background: $lightBlack;
      color: $secondary;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
