//<---------------------------- Banner Styles ---------------------------->
.banner {
  width: 100vw;
  // padding: 5px 0;
  background: $accentBackground;
  transform-origin: top;
  transition: transform 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  transform: translate3d(0px, 0px, 0px);
}

.banner__container {
  color: $accentText;
  font-size: $textSize;
  font-weight: $lightWeight;
  text-align: center;
  padding: 5px 0;
}

//<-------------------------- End Banner Styles -------------------------->
