//<---------------------------- Leftbar Styles ---------------------------->
.leftbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform-origin: right;
  transition: all 0.4s ease-in-out;
  z-index: 500;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -500;
    background: $modal;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    clip-path: circle(10% at 100% 50%);
  }

  &.active {
    opacity: 1;
    visibility: visible;

    &::after {
      opacity: 1;
      clip-path: circle(150% at 100% 50%);
    }

    &>.leftbar__content {
      transform: translateX(0%);
    }
  }

  &.mod {
    &>.leftbar__modal {
      transform: translateX(0%);
    }
  }
  &.problem{
   &> .leftbar__problem{
    transform: translateX(0%);
   }
  }
}

.leftbar__hidden--close {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  font-size: $textSize;
  opacity: 0;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 0;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    width: 70%;
  }
}

.leftbar__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  padding: 15px;
  padding-right: 20px;
  background-color: $background;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    width: 30%;
  }
}

.leftbar__modal,
.leftbar__problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  padding: 15px;
  padding-right: 20px;
  background-color: rgba($color: $background, $alpha: .9);
  z-index: 1;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    width: 30%;
  }
}

.leftbar__modal--text {
  color: $lightBlack;
  font-size: $textSize;
  font-weight: $lightWeight;
  line-height: $lineHeight;
  text-align: center;
  width: 100%;
}

.leftbar__modal--bundle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.leftbar__modal--btn {
  width: 100%;
  height: 40px;
  border: 1px solid $lightBlack;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  font-weight: $lightWeight;
  background-color: transparent;
  color: $lightBlack;
  flex: 1;
  font-size: $textSize;

  &:hover {
    background: $lightBlack;
    color: $background;

    &>svg {
      stroke: $background;
    }
  }

  &>svg {
    stroke: $lightBlack;
  }
}

.leftbar__close {
  width: 40px;
  height: 40px;
  border: 1px solid $lightBlack;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: transparent;

  &:hover {
    background: $lightBlack;
    color: $background;

    &>svg {
      stroke: $background;
    }
  }

  &>svg {
    stroke: $lightBlack;
  }
}

.leftbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.leftbar__button {
  width: 100%;
  height: 40px;
  border: 1px solid $lightBlack;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  font-weight: $lightWeight;
  background-color: transparent;
  color: $lightBlack;
  flex: 1;
  font-size: $textSize;

  &:hover {
    background: $lightBlack;
    color: $background;

    &>svg {
      stroke: $background;
    }
  }

  &>svg {
    stroke: $lightBlack;
  }
}

.leftbar__button--long {
  flex: unset;
}


#basketList .leftbar__list {
  height: unset;
}
.leftbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  flex-shrink: 1;

  // Scrollbar Settings if its appear
  scrollbar-color: $lightBlack transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $lightBlack;
    border-radius: 10px;
    border-left: 2px solid $background;
  }
}

.leftbar__empty {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbar__item {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  // transform-origin: left;
  background: $primary;
  gap: 5px;
  // margin-bottom: 20px;

  &:hover {
    background: $secondary;
  }

  &:not(:last-child) {
  margin-bottom: 20px;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      top: calc(100% + 10px);
      background: $primary;
    }
  }

  // Deleting animation
  &.deleting{
    animation: deleting 0.5s ease-in-out forwards;
  }

  @keyframes deleting{
    0%{
      opacity: 1;
      transform: translateX(0%) scale(1);
    }
    80%{
      opacity: 0;
      transform: translateX(105%) scale(0);
    }
    100%{
      min-height: 0;
      height: 0;
      padding: 0;
      margin-bottom: 0;
      opacity: 0;
      transform: translateX(105%) scale(0);
    }
  }
}

.leftbar__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  gap: 10px;
  flex: 1;

  &>span {
    flex: 1;
    text-wrap: nowrap;
    word-break: break-word;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $lightBlack;
    font-weight: $lightWeight;
    font-size: $textSize;
    text-decoration: none;
  }

  &>img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius: 3px;
    background-color: $background;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: multiply;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 55px;
      height: 55px;
    }
  }
}

// Special Styles for .leftbar__link in WishList
.wishlist__link {
  width: calc(100% - 50px);
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.leftbar__link--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;

  &>p {
    font-size: $spanSize;
    font-weight: $lightWeight;
    text-transform: uppercase;
    color: $lightBlack;
  }

  &>span {
    color: $lightBlack;
    font-weight: $lightWeight;
    text-transform: uppercase;
    font-size: $spanSize;
  }

  &>h4 {
    font-size: $textSize;
    color: $lightBlack;
    font-weight: $lightWeight;
    text-transform: uppercase;
  }
}

.leftbar__delete {
  width: 35px;
  height: 35px;
  border: 1px solid $lightBlack;
  outline: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background: transparent;

  &>svg {
    stroke: $lightBlack;
  }

  &:hover {
    background: $lightBlack;

    &>svg {
      stroke: $background;
    }
  }
}

.leftbar__total {
  width: 100%;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  gap: 10px;
  border-top: 1px solid $lightBlack;
}

.leftbar__total--text {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
  width: 100%;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &>span {
    font-size: $textSize;
    font-weight: $lightWeight;
    margin-left: 10px;
    color: $lightBlack;
  }
}

//<-------------------------- End Leftbar Styles -------------------------->


// Deleting animation{

@keyframes delete {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    // height: auto;
  }

  15% {
    opacity: 1;
    transform: translateX(0%);
  }

  85% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
    // height: 0px;
  }
}

// animation: delete 0.5s ease-in 2s forwards;

.leftbar__message {
  font-size: $textSize;
  color: $lightBlack;
  font-weight: $lightWeight;
  text-align: center;
  width: 100%;
  // height: auto;
  // transform: translateX(-150%);
  // opacity: 0;
  animation: delete 2.5s ease-in-out forwards;
}
