.basket__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-height: 50vh;
  min-height: 400px;

  @media (max-width: map-get($grid-breakpoints, xl)) {
    flex-direction: column;
    max-height: unset;
    min-height: unset;
  }
}

.favorite {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  & > .basket__product > .basket__top {
    padding-bottom: unset;
    border: none;
  }
}

.basket {
  width: 100%;
  max-height: 50vh;
  min-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;

  scrollbar-color: $text transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $lightBlack;
    border-radius: 10px;
    border-left: 2px solid $background;
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    max-height: unset;
    min-height: unset;
  }
}

.basket__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: $primary;
  column-gap: 25px;
  padding: 10px;
  border-radius: 7px;
  width: 100%;

  & > .quantity {
    padding: 0;
    border: none;

    @media (max-width: map-get($grid-breakpoints, xl)) {
      width: 100%;
      grid-column: 1/3;
    }
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    column-gap: 10px;
    row-gap: 5px;
  }
}

.basket__top {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid $lightBlack;
  gap: 10px;

  & > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    flex-direction: column;
  }

  & > img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
    mix-blend-mode: multiply;
  }

  & > .basket__action {
    width: auto;
    display: block;
    flex: 0;
  }
}

.basket__price {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $darkGray;
  text-transform: uppercase;
}

.basket__title {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.basket__delete {
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  display: flex;

  & > svg {
    stroke: $lightBlack;
  }

  &:hover {
    background: $lightBlack;

    & > svg {
      stroke: $secondary;
    }
  }
}

// .basket__wish {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 33px;
//   height: 33px;
//   background: transparent;
//   border: none;
//   border-radius: 50px;

//   & > svg {
//     fill: #a9a9a9;
//   }

//   &:hover {
//     & > svg {
//       fill: $darkRed;
//     }
//   }

//   &.active {
//     & > svg {
//       fill: $darkRed;
//     }
//   }
// }

// .basket__delete--hidden {
//   grid-column: 1/3;
//   width: 100%;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 10px;
//   gap: 15px;
//   height: 40px;
//   background: lighten(#d2042d, 45%);
//   font-size: $textSize;
//   border: none;
//   transition: all 0.3s ease-in-out;
//   color: $lightBlack;
//   font-weight: $lightWeight;
//   display: none;

//   &:hover {
//     background: $darkRed;
//     color: $secondary;

//     & > svg {
//       stroke: $secondary;
//     }
//   }
// }

// .basket__delete--long {
//   @media (max-width: map-get($grid-breakpoints, xl)) {
//     grid-column: 1/3;
//   }
// }

// .basket__add--hidden {
//   grid-column: 1/3;
//   width: 100%;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 15px;
//   height: 40px;
//   padding: 0 10px;
//   background: darken($secondary, 10%);
//   font-size: $textSize;
//   border: none;
//   transition: all 0.3s ease-in-out;
//   color: $lightBlack;
//   font-weight: $lightWeight;

//   @media (min-width: map-get($grid-breakpoints, xl)) {
//     display: none;
//   }

//   @media (max-width: map-get($grid-breakpoints, xl)) {
//     display: none;
//   }

//   @media (max-width: map-get($grid-breakpoints, sm)) {
//     grid-column: 1/3;
//   }

//   &:hover {
//     background: $lightBlack;
//     color: $secondary;

//     & > svg {
//       stroke: $secondary;
//     }
//   }
// }

.basket__subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
  width: 100%;

  @media (max-width: map-get($grid-breakpoints, xl)) {
    grid-column: 1/3;
  }
}

.basket__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
}
