.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    gap: 10px;
    flex-direction: column;
  }
}

.checkout__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}

.checkout__link,
.checkout__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  width: min-content;
  height: 40px;
  padding: 0 10px;
  background: transparent;
  color: $lightBlack;
  font-size: $textSize;
  font-weight: $lightWeight;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  border: 1px solid $lightBlack;
  text-transform: uppercase;
  gap: 10px;

  @media (hover: hover) {
    &:hover {
      background: $lightBlack;
      color: $primary;

      & > svg {
        stroke: $primary;
      }
    }
  }

  @media (hover: none) {
    &:active {
      background: $lightBlack;
      color: $primary;

      & > svg {
        stroke: $primary;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    gap: 5px;
    padding: 0 5px;
    width: 100%;

    & > svg {
      transform: scale(0.7);
      transition: all 0.3s ease-in-out;
    }
  }

  &.active {
    background: $lightBlack;
    color: $primary;

    & > svg {
      stroke: $primary;
    }
  }

  & > svg {
    stroke: $lightBlack;
  }
}

.checkout__button--confirm {
  border: 1px solid $lightBlack;
}

.checkout__container {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 15px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: grid;
    }
  }
}

.checkout__form {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background: $primary;
  padding: 15px;
  gap: 15px;
  border-radius: 5px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    align-items: start;
    justify-items: center;
    align-content: flex-start;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: grid;
      height: auto;
    }
  }
}

.look__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $primary;
  border-radius: 5px;
  gap: 10px;

  & > h3 {
    color: $lightBlack;
    font-size: $inputSize;
    font-weight: $lightWeight;
    padding: 10px 0;
    text-align: center;
    background: $background;
    border-bottom: 1px solid $lightBlack;
    width: 100%;

    &:last-child {
      border-top: 10px solid $background;
    }
  }
}

.checkout__top {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    grid-column: 1/3;
  }

  & > span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $lightBlack;
    color: $lightBlack;
    font-size: $inputSize;
    font-weight: $lightWeight;
  }

  & > h3 {
    color: $lightBlack;
    font-size: $inputSize;
    font-weight: $lightWeight;
  }
}

.checkout__item {
  width: 100%;
  padding: 1px;
  padding-bottom: 0;
  position: relative;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &.error {
    &::after {
      color: $darkRed;
    }

    & > input {
      background: lighten($darkRed, 35%);
    }

    & > span {
      font-size: $textSize;
    }

    & > label {
      color: $darkRed;
    }
  }

  & > input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid $lightBlack;
    border-radius: 5px 5px 0 0;
    font-size: $inputSize;
    font-weight: $lightWeight;
    color: $lightBlack;
    padding: 0 10px;
    -moz-appearance: textfield;
    transition: all 0.3s ease-in-out;
    background: $secondary;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      font-size: 0px;
      font-weight: $lightWeight;
      color: $darkGray;
      user-select: none;
    }

    & ~ label {
      position: absolute;
      font-size: $inputSize;
      font-weight: $lightWeight;
      color: $darkGray;
      user-select: none;
      left: 20px;
      top: 0px;
      height: 42px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      user-select: none;
      pointer-events: none;
      text-wrap: balance;
    }

    &:focus ~ label,
    &:active ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -28px;
      left: 0;
      font-size: $spanSize;
    }
  }

  & > span {
    font-size: 0px;
    font-weight: $lightWeight;
    color: $darkRed;
    transition: all 0.3s ease-in-out;
    line-height: 150%;
  }
}

.checkout__item--required {
  &::after {
    content: "*";
    position: absolute;
    left: 10px;
    top: 0px;
    height: 40px;
    font-size: $textSize;
    font-weight: $lightWeight;
    line-height: 150%;
    color: $lightBlack;
    text-align: center;
    display: flex;
    align-items: center;
  }

  & > input {
    padding-left: 20px;
  }
}

.checkout__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $primary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;

  & > span {
    color: $lightBlack;
    font-size: $inputSize;
    font-weight: $lightWeight;
    flex: 1;
  }
}

.checkout__terms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $primary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;
  scroll-margin-top: 150px;

  & > span {
    color: $darkGray;
    font-size: $inputSize;
    font-weight: $lightWeight;
    flex: 1;
    text-decoration: none;

    & > a {
      color: $lightBlack;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  & > input:checked ~ a {
    color: $lightBlack;
  }

  &.error {
    background: lighten($darkRed, 44%);
    border: 1px solid $darkRed;

    & > span {
      color: $darkRed;

      & > a {
        color: $darkRed;
      }
    }
  }
}
