//Fonts
@font-face {
    font-family: "Roboto-black";
    src: url("/fonts/Roboto/Roboto-Black.ttf");
  }
  @font-face {
    font-family: "Roboto-blackitalic";
    src: url("/fonts/Roboto/Roboto-BlackItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-bold";
    src: url("/fonts/Roboto/Roboto-Bold.ttf");
  }
  @font-face {
    font-family: "Roboto-bolditalic";
    src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-italic";
    src: url("/fonts/Roboto/Roboto-Italic.ttf");
  }
  @font-face {
    font-family: "Roboto-light";
    src: url("/fonts/Roboto/Roboto-Light.ttf");
  }
  @font-face {
    font-family: "Roboto-lightitalic";
    src: url("/fonts/Roboto/Roboto-LightItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-medium";
    src: url("/fonts/Roboto/Roboto-Medium.ttf");
  }
  @font-face {
    font-family: "Roboto-mediumitalic";
    src: url("/fonts/Roboto/Roboto-MediumItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-regular";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-thin";
    src: url("/fonts/Roboto/Roboto-Thin.ttf");
  }
  @font-face {
    font-family: "Roboto-thinitalic";
    src: url("/fonts/Roboto/Roboto-ThinItalic.ttf");
  }
