@use 'sass:math';
//maps of utilies//

$utilities: (
  "padding": ("prefix": "p",
    "values": ("0": 0,
      "1": $padding,
      "2": $padding * 2,
      "3": $padding * 4,
      "4": $padding * 6,
      "5": $padding * 8),
  ),
  "padding-left": ("prefix": "pl",
    "values": ("0": 0,
      "1": $padding,
      "2": $padding * 2,
      "3": $padding * 4,
      "4": $padding * 6,
      "5": $padding * 8),
  ),
  "width": ("prefix": "wid",
    "values": ("0": 0,
      "1": $base-width !important,
      "2": $base-width * 2 !important,
      "3": $base-width * 3 !important,
      "4": $base-width * 4 !important,
      "5": $base-width * 5 !important,
      "6": $base-width * 6 !important,
      "7": $base-width * 7 !important,
      "8": $base-width * 8 !important,
      "9": $base-width * 9 !important,
      "10": $base-width * 10 !important),
  ),
  "padding-right": ("prefix": "pr",
    "values": ("0": 0,
      "1": $padding,
      "2": $padding * 2,
      "3": $padding * 4,
      "4": $padding * 6,
      "5": $padding * 8),
  ),
  "padding-top": ("prefix": "pt",
    "values": ("0": 0,
      "1": $padding,
      "2": $padding * 2,
      "3": $padding * 4,
      "4": $padding * 6,
      "5": $padding * 8),
  ),
  "padding-bottom": ("prefix": "pb",
    "values": ("0": 0,
      "1": $padding,
      "2": $padding * 2,
      "3": $padding * 4,
      "4": $padding * 6,
      "5": $padding * 8),
  ),
  "margin": ("prefix": "m",
    "values": ("0": 0,
      "1": $margin,
      "2": $margin * 2,
      "3": $margin * 4,
      "4": $margin * 6,
      "5": $margin * 8,
      "a": auto),
  ),
  "margin-left": ("prefix": "ml",
    "values": ("0": 0,
      "1": $margin,
      "2": $margin * 2,
      "2-5": $margin * 3,
      "3": $margin * 4,
      "3-5": $margin * 5,
      "4": $margin * 6,
      "4-5": $margin * 7,
      "5": $margin * 8),
  ),
  "margin-right": ("prefix": "mr",
    "values": ("0": 0,
      "1": $margin,
      "2": $margin * 2,
      "3": $margin * 4,
      "4": $margin * 6,
      "5": $margin * 8),
  ),
  "margin-top": ("prefix": "mt",
    "values": ("0": 0,
      "1": $margin,
      "2": $margin * 2,
      "3": $margin * 4,
      "4": $margin * 6,
      "5": $margin * 8),
  ),
  "margin-bottom": ("prefix": "mb",
    "values": ("0": 0,
      "1": $margin,
      "2": $margin * 2,
      "3": $margin * 4,
      "4": $margin * 6,
      "5": $margin * 8),
  ),
  "opacity": ("prefix": "o",
    "values": ("0": 0,
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1),
  ),
  "letter-spacing": ("prefix": "ls",
    "values": ("0": 0,
      "1": 1px,
      "2": 2px,
      "3": 3px,
      "4": 4px,
      "5": 5px,
      "6": 6px,
      "7": 7px,
      "8": 8px,
      "9": 9px,
      "10": 10px),
  ),
  "gap": ("prefix": "g",
    "values": ("0": 0,
      "1": 1rem,
      "2": 2rem,
      "3": 3rem,
      "4": 4rem,
      "5": 5rem,
      "6": 6rem,
      "7": 7rem,
      "8": 8rem,
      "9": 9rem,
      "10": 10rem),
  ),
  "border-radius": ("prefix": "bra",
    "values": ("default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius *2,
      "xl": $base-border-radius *4,
      "full": 50%),
  ),
  "border-top": ("prefix": "bt",
    "values": ("0": 0,
      "1": 1px solid black,
      "2": 2px solid black,
      "3": 3px solid black,
      "4": 4px solid black,
      "5": 5px solid black,
    ),
  ),
  "border": ("prefix": "b",
    "values": ("0": 0,
      "1": 1px solid black,
      "2": 2px solid black,
      "3": 3px solid black,
      "4": 4px solid black,
      "5": 5px solid black,
    ),
  ),
  "border-bottom": ("prefix": "bb",
    "values": ("0": 0,
      "1": 1px solid black,
      "2": 2px solid black,
      "3": 3px solid black,
      "4": 4px solid black,
      "5": 5px solid black,
    ),
  ),
  "border-right": ("prefix": "br",
    "values": ("0": 0,
      "1": 1px solid black,
      "2": 2px solid black,
      "3": 3px solid black,
      "4": 4px solid black,
      "5": 5px solid black,
    ),
  ),
  "border-left": ("prefix": "bl",
    "values": ("0": 0,
      "1": 1px solid black,
      "2": 2px solid black,
      "3": 3px solid black,
      "4": 4px solid black,
      "5": 5px solid black,
    ),
  ),
  "display": ("prefix": "display",
    "values": ("n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
      "c": contents,
      "g": grid,
    ),
  ),
  "justify-content": ("prefix": "jus",
    "values": ("fs": flex-start,
      "fe": flex-end,
      "c": center,
      "sb": space-between,
      "sa": space-around,
      "se": space-evenly,
      "i": initial,
      "in": inherit,

    ),
  ),
  "font-size": ("prefix": "font",
    "values": ("sm": $font-size-sm,
      "md": $font-size-md,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl ),
  ),
  "font-weight": ("prefix": "fw",
    "values": ("100": 100,
      "200": 200,
      "300": 300,
      "400": 400,
      "500": 500,
      "600": 600,
      "700": 700,
      "800": 800,
      "900": 900),
  ),
  "position": ("prefix": "pos",
    "values": ("fix": fixed,
      "rel": relative,
      "abs": absolute,
      "static": static,
      "sticky": sticky),
  ),
  "float": ("prefix": "float",
    "values": ("l": left,
      "r": right,
      "n": none,
      "inh": inherit),
  ),
  "align-items": ("prefix": "align",
    "values": ("stretch": stretch,
      "center": center,
      "left": flex-start,
      "right": flex-end,
      "baseline": baseline,
      "initial": initial,
      "inherit": inherit),
  ),
  "text-align": ("prefix": "talign",
    "values": ("l": left,
      "r": right,
      "c": center,
      "j": justify,
      "i": initial,
      "in": inherit,
    ),
  ),
  "cursor": ("prefix": "cursor",
    "values": ("p": pointer,

    ),
  ),
  "flex-wrap": ("prefix": "wrap",
    "values": ("w": wrap,
      "n": nowrap,
    ),
  ),
  "flex-direction": ("prefix": "fld",
    "values": ("row": row,
      "rowr": row-reverse,
      "col": column,
      "colr": column-reverse,
      "i": initial,
      "in": inherit,
    ),
  ),
);

//generate utility classes
@each $property,
$map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k,
  $v in $values {
    @if($k =="default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    }

    @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}