.container-right {

  .card_calendar {
    padding: $padding;
    margin: $margin;

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      color: $black;
      padding: 10px;
    }

    .calendar-week-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-weight: 600;
      cursor: pointer;
      color: $black;
    }

    .calendar-week-days div:hover {
      color: black;
      transform: scale(1.2);
      transition: $transition;
    }

    .calendar-week-days div {
      display: grid;
      place-items: center;
      color: $mainBg;
      height: 50px;
    }

    .calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 2px;
      color: $black;
    }

    .calendar-days div {
      width: 37px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      position: relative;
      cursor: pointer;
      animation: to-top 1s forwards;
    }

    .month-picker {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    .year-picker {
      display: flex;
      align-items: center;
    }

    .year-change {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin: 0px 10px;
      cursor: pointer;
    }

    .year-change:hover {
      background-color: var(--light-btn);
      transition: $transition;
      transform: scale(1.12);
    }

    .year-change:hover pre {
      color: $mainBg;
    }

    .calendar-footer {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    #year:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: $transition;
    }

    .calendar-days div span {
      position: absolute;
    }

    .calendar-days div:hover {
      transition: $transition;
      background-color: $secondColor;
      border-radius: 20%;
      color: $black;
    }

    .calendar-days div.current-date {
      color: $black;
      background-color: $white;
      border-radius: 20%;
    }

    .month-list {
      position: relative;
      left: 0;
      top: -50px;
      color: $mainBg;
      display: grid;
      grid-template-columns: repeat(3, auto);
      border-radius: 20px;
    }

    .month-list>div {
      display: grid;
      place-content: center;
      margin-bottom: $margin;
      transition: $transition;
    }

    .month-list>div>div {
      border-radius: 15px;
      // padding: 10px;
      cursor: pointer;
    }

    .month-list>div>div:hover {
      background-color: $white;
      color: $black;
      transform: scale(0.9);
      transition: $transition;
    }

    .month-list.show {
      visibility: visible;
      pointer-events: visible;
      transition: $transition;
      animation: to-left .71s forwards;
    }

    .month-list.hideonce {
      visibility: hidden;
    }

    .month-list.hide {
      animation: to-right 1s forwards;
      visibility: none;
      pointer-events: none;
    }

    .date-time-formate {
      @include size(max-content);
      @include flexbox(flex, row, center);

      // width: max-content;
      // height: max-content;
      position: relative;
      // display: flex;
      top: 5rem;
      // justify-content: center;
      color: $black;

    }

    .day-text-formate {
      position: absolute;
      left: -1rem;
    }

    .date-time-value {
      display: block;
      @include size(max-content);
      // height: max-content;
      // width: max-content;

      position: relative;
      left: 40%;
      top: -18px;
      text-align: center;
    }

    .time-formate {
      font-size: 1.5rem;
    }

    .time-formate.hideTime {
      animation: hidetime 1.5s forwards;
    }

    .day-text-formate.hidetime {
      animation: hidetime 1.5s forwards;
    }

    .date-formate.hideTime {
      animation: hidetime 1.5s forwards;
    }

    .day-text-formate.showtime {
      animation: showtime 1s forwards;
    }

    .time-formate.showtime {
      animation: showtime 1s forwards;
    }

    .date-formate.showtime {
      animation: showtime 1s forwards;
    }

    @keyframes to-top {
      0% {
        transform: translateY(0);
        opacity: 0;
      }

      100% {
        transform: translateY(100%);
        opacity: 1;
      }
    }

    @keyframes to-left {
      0% {
        transform: translatex(230%);
        opacity: 1;
      }

      100% {
        transform: translatex(0);
        opacity: 1;
      }
    }

    @keyframes to-right {
      10% {
        transform: translatex(0);
        opacity: 1;
      }

      100% {
        transform: translatex(-150%);
        opacity: 1;
      }
    }

    @keyframes showtime {
      0% {
        transform: translatex(250%);
        opacity: 1;
      }

      100% {
        transform: translatex(0%);
        opacity: 1;
      }
    }

    @keyframes hidetime {
      0% {
        transform: translatex(0%);
        opacity: 1;
      }

      100% {
        transform: translatex(-370%);
        opacity: 1;
      }
    }

    @media (max-width:375px) {
      .month-list>div {

        margin: 5px 0px;
      }
    }
  }

  .card_todo {
    //border: 1px solid $secondColordark;
    padding: $padding;
    margin: $margin;
    margin-top: 0;
    padding-top: 0;


    .input-grups {
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .list-task-item {

      .formtodo {
        @include flexbox(flex, space-between, center);
        // display: flex;
        // align-items: center;
        text-align: center;
        // justify-content: space-between;

        & svg {
          // @include wh(3.5rem, auto);
          @include size(3.5rem, auto);
          padding: 0.5rem;
          object-fit: cover;
          align-items: center;
          background: $white;

          path {
            fill: $mainBg;
          }

          &:hover {
            @include size(3.6rem, auto);
          }
        }
      }
    }

    .count {
      border-top: 1px solid $mainBg;
    }
  }
}