.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  position: sticky;
  top: 60px;
  z-index: 100;
  background: $background;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs__link {
  font-size: $textSize;
  font-weight: $lightWeight;
  color: $lightBlack;
  text-decoration: underline;
  text-decoration-color: $lightBlack;
  text-underline-offset: 3px;
  text-wrap: nowrap;
  text-transform: capitalize;
  position: relative;
  padding-right: 10px;
  line-height: 150%;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;

  &:hover {
    color: $darkBlack;
  }

  &:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
