.help__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 0 0 rgba(255, 166, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  display: none;

  & > svg {
    stroke: #333;
  }

  &:hover {
    background-color: darken($color: orange, $amount: 15%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 166, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 166, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 166, 0, 0);
  }
}
