.numeric {
  counter-reset: category-counter;
  list-style-type: none;
}

.numeric > li {
  counter-increment: category-counter;
  margin-bottom: 20px;
  position: relative;

  & > h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    line-height: 150%;
  }

  & > p {
    line-height: 150%;

    & > a {
      text-decoration: underline;
      color: $lightBlack;
      font-weight: $lightWeight;
    }
  }

  & > a {
    text-decoration: underline;
    color: $lightBlack;
    font-weight: $lightWeight;
  }
}

.numeric > li::before {
  content: counter(category-counter) ". ";
  font-weight: $boldWeight;
  position: absolute;
  left: 0px;
  top: 4.5px;
}

.sub-numeric {
  counter-reset: sub-category-counter;
  list-style-type: none;
  padding-left: 70px;
}

.sub-numeric > li {
  counter-increment: sub-category-counter;
  margin-bottom: 20px;
  position: relative;

  & > h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 150%;
  }

  & > p {
    line-height: 150%;

    & > a {
      text-decoration: underline;
      color: $lightBlack;
      font-weight: $lightWeight;
    }
  }

  & > a {
    text-decoration: underline;
    color: $lightBlack;
    font-weight: $lightWeight;
  }
}

.sub-numeric > li::before {
  content: counter(category-counter) "." counter(sub-category-counter) " ";
  font-weight: normal;
  position: absolute;
  left: -40px;
  top: 4.5px;
}

.sub-sub-numeric {
  counter-reset: sub-sub-category-counter;
  list-style-type: none;
  padding-left: 70px;
}

.sub-sub-numeric > li {
  counter-increment: sub-sub-category-counter;
  margin-bottom: 20px;
  position: relative;

  & > h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 150%;
  }

  & > p {
    line-height: 150%;

    & > a {
      text-decoration: underline;
      color: $lightBlack;
      font-weight: $lightWeight;
    }
  }

  & > a {
    text-decoration: underline;
    color: $lightBlack;
    font-weight: $lightWeight;
  }
}

.sub-sub-numeric > li::before {
  content: counter(category-counter) "." counter(sub-category-counter) "."
    counter(sub-sub-category-counter) " ";
  font-weight: normal;
  position: absolute;
  left: -70px;
  top: 4.5px;
}
