//<---------------------------- Section ---------------------------->
section {
  padding-top: 20px !important;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  & > .logo {
    height: 100%;

    & > img {
      width: 100px;
      height: 100%;
      object-fit: contain;
      aspect-ratio: 1/1;
    }
  }
}

h1.section__title {
  width: 100%;
  font-size: 25px;
  font-weight: $lightWeight;
  color: $lightBlack;
  text-align: center;
  line-height: $lineHeight;
  margin: 0;

  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 18px;
  }
}

h2.section__title {
  width: 100%;
  font-size: 24px;
  font-weight: $lightWeight;
  color: $lightBlack;
  text-align: center;
  line-height: $lineHeight;
  margin: 0;

  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 18px;
  }
}

.section__text {
  width: 100%;
  font-size: $textSize;
  font-weight: $lightWeight;
  color: lighten($color: $lightBlack, $amount: 25%);
  text-align: center;
  line-height: $lineHeight;
  text-wrap: balance;

  // @media (max-width: map-get($grid-breakpoints, md)) {
  //   font-size: 12px;
  //   width: 90%;
  // }

  & > a {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: $lightWeight;
    font-size: $textSize;
    color: $lightBlack;
    line-height: $lineHeight;
  }
}

//<-------------------------- End Section -------------------------->
