@keyframes ldio-sl0v29xbypi-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }

  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }

  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

@keyframes ldio-sl0v29xbypi {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.ldio-sl0v29xbypi div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}

.ldio-sl0v29xbypi div:nth-child(1) {
  background: $lightBlack;
  animation: ldio-sl0v29xbypi 1.3157894736842106s linear infinite;
  animation-delay: -0.6578947368421053s;
}

.ldio-sl0v29xbypi div:nth-child(2) {
  background: $lightGray;
  animation: ldio-sl0v29xbypi 1.3157894736842106s linear infinite;
  animation-delay: 0s;
}

.ldio-sl0v29xbypi div:nth-child(3) {
  background: $lightBlack;
  animation: ldio-sl0v29xbypi-o 1.3157894736842106s linear infinite;
  animation-delay: -0.6578947368421053s;
}

.loadingio-spinner-dual-ball-8eksdpgpyip {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-sl0v29xbypi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-sl0v29xbypi div {
  box-sizing: content-box;
}
